body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: rgb(77, 82, 87);
}

* {
    box-sizing: border-box;
}

.content {
    background-color: rgb(245, 245, 245);
    padding: 20px;
    font-weight: 200;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.part {
    background-color: #ffffff;
    border: 2px solid rgb(177, 188, 250);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

h2 {
    font-size: 16px;
    font-weight: 300;
    margin-left: 10px;
}

button {
    margin-bottom: 10px;
}

input {
    margin: 10px 0;
}